<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseAppID</key>
	<string>OjpvbNAF4TJg7lul6tG9q5K5H30jBXf0lYn0wcRm</string>
	<key>parseClientKey</key>
	<string>JMSt2mUVFzC3eBViygKajfREUBW9itIZBDwqXsB5</string>
</dict>
</plist>
